@import "grid/grid-defaults";
@import "grid/grid-functions";

// Default grid without any media query
// all the grid values are stored in _grid-defaults.scss

$full-default-width: gridsystem-width();

.row {
	width: 100%;
	float:left;
	clear:both;
	.grid-debug & {
		padding-bottom:10px;
		border-bottom:1px solid rgba(0,0,0,0.4);
	}
}

.full-width {
	width:100%;
	@include box-sizing(border-box);
}

.full-width-tablet {
	@include respond-to('tablet') {
		width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}
.full-width-mobile {
	@include respond-to('mobile') {
		width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

.noMarginLR {
	margin-left:0;
	margin-right:0;
}

.noMarginL {
	margin-left:0;
}

.noMarginR {
	margin-right:0;
}
